.navbar {
    padding: 5px 10px;
}

.navlink:hover {
    font-weight: bold !important;

}

span {
    font-weight: 700;
}

.btn-custom {
    background-color: rgb(238, 230, 230) !important;
    margin-left: auto;
}

.btn-custom:hover {
    background-color: white !important;
    border: 3px solid rgb(243, 107, 107) !important;
    font-weight: 600 !important;
    color: rgb(243, 107, 107) !important;
}

.dropdownBtn {
    background-color: #f8f9fa !important;
    color: #707071 !important;
    border: none !important;
    font-size: 15px !important;
}